<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Messages : Create</title>
</head>
<body>
<div class="container">
    <div th:include="fragments :: header"></div>

    <h4>
        Welkom op de pagina van onze webshop.
    </h4>
    <p>
        Dit is een demo applicatie van een webwinkel voor periode 11 van de opleiding Informatica van Avans.
        Enkele functionaliteiten zijn registreren, producten toevoegen aan je winkelwagen en afrekenen.
    </p>

    <footer>
        Groep IVH11A2
    </footer>
</div>
<div th:include="fragments :: scripts"></div>
</body>
</html>
