<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="alert">
    <div class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4 th:text="${header}">Alert header</h4>
        <!--/* 'layout:fragment' attribute defines a replaceable content section */-->
        <th:block layout:fragment="alert-content">
            <p th:text="${text} ? ${text} : 'Default alert content'"></p>
        </th:block>
    </div>
</th:block>

<th:block layout:fragment="error_summary">
    <div class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4 th:text="${header}">Alert header</h4>
        <!--/* 'layout:fragment' attribute defines a replaceable content section */-->
        <th:block layout:fragment="alert-content">
            <ul>
                <div th:each="error : ${errors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </div>
            </ul>
        </th:block>
    </div>
</th:block>
</body>
</html>

