<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Messages : Create</title>
</head>
<body>
<div class="container">
    <div th:include="fragments :: header"></div>

    <form id="form" th:object="${login}" th:action="@{/login}" method="post">
        <h4 th:text="'Login'"></h4>

        <div th:fragment="form">
            <div th:if="${#fields.hasErrors('*')}">
                <div th:if="${#fields.hasErrors('*')}">
                    <div layout:include="fragments/alert :: error_summary"
                         th:with="type='danger', header=${'Errors in the form'}, errors=${form_errors}" th:remove="tag">
                        <th:block layout:fragment="alert-summary">
                            <p>
                                Niet elk veld is correct ingevoerd
                            </p>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Username">Gebruikersnaam</label>
                <input type="text" class="form-control" id="Username" th:field="*{username}"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>

                <label for="Password">Wachtwoord</label>
                <input type="password" class="form-control" id="Password" th:field="*{password}"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>

                <div class="float-right mt-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <div class="float-right mt-2">
                    <a th:href="@{/}">
                        <div class="btn btn-secondary">Cancel</div>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="fragments :: scripts"></div>
</body>
</html>
