<html xmlns:th="http://www.thymeleaf.org">
<p th:text="${'hello ' + user.getFullname()}">
    Hello, Peter Static!
</p>
<p th:if="${user.getFullname().length() gt 10}">
    Wow! You've got a long name (more than 10 chars)! <br />
</p>
<p>
    You have registered successfully to the <b>Observer pattern</b>
</p>
<p>Your hobbies are:</p>
<ul th:remove="all-but-first">
    <li th:each="hobby : ${hobbies}"
        th:text="${hobby}">Reading</li>
    <li>Writing</li>
    <li>Bowling</li>
</ul>
<p>
    Regards, <br />
    &emsp; <em>The Thymeleaf Team</em>
</p>
</html>