<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Messages : Create</title>
</head>
<body>
<div class="container">
    <div th:include="fragments :: header"></div>

    <!--<form id="form" action="#" th:object="${user}" th:="${} ? th:action=@{/user/{id}/edit(id=${user.id})} : @{/user/create}}" method="post">-->
    <form id="form" action="#" th:object="${product}" th:="${edit} ? th:action=@{/product/{id}/edit(id=${product.id})} : th:action=@{/product/create}" method="post">
        <h4 th:if="${edit}" th:text="'Update product ' + ${product.name} + ${product.modelNumber != null ? ' - ' + product.modelNumber :''}"></h4>
        <h4 th:if="!${edit}" th:text="'Create a new product'"></h4>

        <div th:fragment="form">
            <div th:if="${#fields.hasErrors('*')}">
                <div layout:include="fragments/alert :: alert"
                     th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <th:block layout:fragment="alert-summary">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend
                            opnieuw.</p>
                    </th:block>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

                <label for="modelNumber">Model Number</label>
                <input type="text" class="form-control" id="modelNumber" th:field="*{modelNumber}"/>
                <p th:if="${#fields.hasErrors('modelNumber')}" th:errors="*{modelNumber}">Model Nr Error</p>

                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" th:field="*{description}"/>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>

                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" th:field="*{price}" placeholder="19.00 format SINCE SPRING DOESNT FUCKING ALLOW ANY NORMAL FUCKING CONSTRAINTS"/>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Last Name Error</p>

                <label for="photo">Photo</label>
                <input type='text' class="form-control" id="photo" th:field="*{photo}"/>
                <p th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}">Name Error</p>

                <label for="manufacturer">manufacturer</label>
                <input type="text" class="form-control" id="manufacturer" th:field="*{manufacturer}"/>
                <p th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">Name Error</p>

                <div class="float-right mt-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <div class="float-right mt-2">
                    <a th:href="@{/product/}">
                        <div class="btn btn-secondary">Cancel</div>
                    </a>
                </div>


            </div>

        </div>
    </form>
</div>
<div th:include="fragments :: scripts"></div>
</body>
</html>
