<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
    <div th:include="fragments :: header"></div>

    <h4>Alle producten</h4>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Hoeveelheid</th>
            <th>Prijs</th>
            <th colspan="2">Opties</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">1</td>
            <td><a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name} ">Name ...</a></td>
            <td th:text="${product.description}">Description ...</td>
            <td th:text="${product.quantity}">Categories ...</td>
            <td th:text="${'€ ' + product.price}">Created at ...</td>
            <th>
                <!--<a th:href="@{/product/{id}/edit(id=${product.id})}">-->
                    <span class="glyphicon glyphicon-cog"></span>
                <!--</a>-->
            </th>
            <th>
                <a data-toggle="modal" th:attr="data-target='#myModal'+${product.id}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <div th:include="fragments :: modal(${'product'}, ${product.id})"></div>
            </th>
        </tr>
        </tbody>
    </table>

</div>

<div th:include="fragments :: scripts"></div>
</body>
</html>