<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
    <div th:include="fragments :: header"></div>
    <div class="row">

        <div class="col-sm-8">
            <div>
                <h4 th:text="${product.name}"></h4>
            </div>
        </div>

        <div class="col-sm-8">
            <h2 th:text="${product.photo}"></h2>
        </div>

        <div class="col-sm-8">
            <div>
                <h4 th:text="${product.description}"></h4>
            </div>
        </div>

        <div class="col-sm-8">
            <div>
                <h4 th:text="${'€ ' + product.price}"></h4>
            </div>
        </div>

    </div>

    <div>
        <a th:href="@{/productOverview}" class="btn btn-default">Ga terug</a>
    </div>
</div>
<div th:include="fragments :: scripts"></div>
</body>
</html>